[submodule "PicoMatrixStrip/src/FreeRTOSCSAL"]
	path = PicoMatrixStrip/src/FreeRTOSCSAL
	url = git@github.com:william-redenbaugh/FreeRTOSCSAL.git
[submodule "PicoMatrixStrip/src/ArduinoCHAL"]
	path = PicoMatrixStrip/src/ArduinoCHAL
	url = git@github.com:william-redenbaugh/ArduinoCHAL.git
[submodule "PicoMatrixStrip/src/CHAL_SHARED"]
	path = PicoMatrixStrip/src/CHAL_SHARED
	url = git@github.com:william-redenbaugh/CHAL_SHARED.git
[submodule "PicoMatrixStrip/src/CSAL_SHARED"]
	path = PicoMatrixStrip/src/CSAL_SHARED
	url = git@github.com:william-redenbaugh/CSAL_SHARED.git
[submodule "PicoMatrixStrip/src/CHAL-ESP-IDF"]
	path = PicoMatrixStrip/src/CHAL-ESP-IDF
	url = git@github.com:william-redenbaugh/CHAL-ESP-IDF.git
[submodule "PicoMatrixStrip/lib/ESP32DMASPI"]
	path = PicoMatrixStrip/lib/ESP32DMASPI
	url = git@github.com:william-redenbaugh/ESP32DMASPI.git
